@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Manrope:wght@800&display=swap");

:root {
  --Soft-red: hsl(10, 79%, 65%);
  --Cyan: hsl(186, 34%, 60%);
  --Dark-brown: hsl(25, 47%, 15%);
  --Medium-brown: hsl(28, 10%, 53%);
  --Cream: hsl(27, 66%, 92%);
  --Very-pale-orange: hsl(33, 100%, 98%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
}

.text-color-dark-browm {
  color: var(--Dark-brown);
}

.text-lg {
  font-size: 1.5rem;
  font-weight: 700;
}

.text-color-Medium-browm {
  color: var(--Medium-brown);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Cream);
  font-family: "DM Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Soft-red);
  padding: 25px 30px;
  width: auto;
  border-radius: 15px;
  color: var(--Cream);
}

.header > div > h1 {
  font-size: 1.5rem;
}

.main {
  height: auto;
  padding: 30px;
  background-color: var(--Very-pale-orange);
  margin-top: 10px;
  border-radius: 10px;
}

.main > hr {
  margin: 20px 0;
}


.chart {
  margin-top: 30px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(7, 1fr);
  height: 200px;
}

.bar-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
}

.bar {
  background-color: var(--Soft-red);
  width: 2rem;
  border-radius: 4px;
}

.bar-text {
  color: var(--Medium-brown);
  font-size: 0.8rem;
  margin-top: 5px;
}

.active {
  background-color: var(--Cyan);
}

.bar:hover {
  filter: brightness(1.2);
}

.price {
  background-color: var(--Dark-brown);
  color: var(--Cream);
  padding: 4px;
  font-size: 0.8rem;
  margin-bottom: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.bar:hover ~ .price {
  opacity: 1;
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100px;
}

.div-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.div-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.attribution {
  position: absolute;
  bottom: 5%;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
