@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Manrope:wght@800&display=swap");

:root {
  --Soft-red: #ec775f;
  --Cyan: #76b5bc;
  --Dark-brown: #382314;
  --Medium-brown: #93867b;
  --Cream: #f8e9dd;
  --Very-pale-orange: #fffaf5;
}

* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
} 


/* Body */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Cream);
  font-family: "DM Sans", sans-serif;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Soft-red);
  padding: 1.563rem 1.875rem;
  min-width: 60%;
  border-radius: 15px;
  color: var(--Cream);
}

.header > div > h1 {
  font-size: 1.5rem;
}

.header > div > p {
  font-size: 0.85rem;
}

/* Main */

.main {
  height: auto;
  width: auto;
  min-width: 60%;
  padding: 1.5rem;
  background-color: var(--Very-pale-orange);
  margin-top: 0.625rem;
  border-radius: 0.625rem;
}

.main > hr {
  margin: 1.5rem 0;
  height: 0.03rem;
  background-color: var(--Medium-brown);
  opacity: 0.35;
}

.main > h1 {
  font-size: 1.563rem;
}

/* Chart */

.chart {
  margin-top: 1rem;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(7, 1fr);
  height: 10rem;
}

/* bar */

.bar-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
}

.bar {
  background-color: var(--Soft-red);
  width: 2rem;
  border-radius: 0.25rem;
}

.bar-text {
  color: var(--Medium-brown);
  font-size: 0.8rem;
  margin-top: 0.313rem;
}

.active {
  background-color: var(--Cyan);
}

.bar:hover {
  filter: brightness(1.2);
}

.price {
  background-color: var(--Dark-brown);
  color: var(--Cream);
  padding: 0.2rem;
  font-size: 0.8rem;
  margin-bottom: 0.625rem;
  border-radius: 0.313rem;
  opacity: 0;
  transition: opacity 0.2s linear;
  position: relative;
}

.bar:hover ~ .price {
  opacity: 1;
}

/* Footer */

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: auto;
  min-width: 60%;
}

.footer > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer > .div-1 {
  align-items: flex-start;
}
.footer > .div-2 > p {
  font-size: 0.8rem;
}

.footer > .div-1 > p {
  font-size: 0.8rem;
}

/* Attribution */

.attribution {
  position: absolute;
  bottom: 2%;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.688rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  font-size: 0.688rem;
}

.text-color-dark-browm {
  color: var(--Dark-brown);
  font-weight: 700;
}

.text-lg {
  font-size: 2rem;
  font-weight: 700;
}

.text-color-Medium-browm {
  color: var(--Medium-brown);
}
